body{
    background-color: #24334C;
    color: #24334C
}

@font-face{
    font-family: "stink";
    src: url("../fonts/Stink.ttf");
}

@font-face{
    font-family : "London";
    src : url('../fonts/OldLondon.ttf');
}

center h1{
    font-size: 140px;
    font-family: "stink";
    margin-bottom: -3%
}

center h2{
    font-size: 20px;
}