html{
    word-break: break-all;
}


body{
    background-image: url("../images/background.jpg");
    height: auto;
    max-height: 100%;
    background-size: 100% 100%
}

@font-face{
    font-family: "headerfont";
    src: url("../fonts/Stink.ttf");
}

@font-face{
    font-family: "groove";
    src: url("../fonts/GrooveNext-.ttf");
}

center h1{
    text-shadow: 0 0 1px black;
    color: black;
    font-size: 200px;
    font-family: "headerfont";
    margin-bottom: -4%;
    margin-top: -3%;
}

center h2{
    font-family: "groove";
    text-shadow: 0 0 1px black;
    color: black;
    margin-bottom: 2.5%;
    font-size: 25px;
}

label{
    color: black;
    text-shadow: 0 0 1px black;
}

#username, #password{
    padding: 0.3%;
    color: black;
    border-radius: 5px;
    text-shadow: 0 0 1px #0dcd4c;
}


.compte{
    padding: 1%;
    text-decoration: none;
    color: red;
    text-shadow: 0 0 0 black
}

.compte:hover{
    padding: 1%;
    border: 3px #28C223 solid;
    transition: 0.4s;
    color: #28C223;
    text-shadow: 0 0 1px #28C223;
}

.accueil{
    padding: 1%;
    text-decoration: none;
    color: red;
    text-shadow: 0 0 0 black
}

.accueil:hover{
    padding: 1%;
    border: 3px #28C223 solid;
    transition: 0.4s;
    color: #28C223;
    text-shadow: 0 0 1px #28C223;
}

center p{
    font-size: 25px;
    text-shadow: 0 0 1px black;
    margin-top: 10%
}

center a{
    text-decoration: none;
    color: red;
    padding: 1%
}

center a:hover{
    transition: 0.4s;
    border: 3px #28C223 solid;
    color: #28C223;
    text-shadow: 0 0 1px #28C223;
}

.flash-success{
    display:none
}