html{
    background-color: #EFEFCE;
    color: #24334C;
    word-break: break-all;
}

td{
    border: 3px #24334C solid;
    padding-left: 30px;
}

.records_list thead tr{
    padding: 25%;
    margin: 25%;
}

.active, .sr-only{
    color: red
}

th{
    background-color: red;
    word-spacing: 15px;
}

.navbar-inverse{
    background-color: #b84f0a;
    color: #EFEFCE
}

.navbar-inverse a{
    color: #EFEFCE
}

.active{
    background-color: #EFEFCEC;
    color: #24334C
}

