html{
    background-color: #EFEFCE;
    color: #24334C
}

td{
    border: 3px #24334C solid;
    padding-left: 30%;
}

tr{
    padding: 30%
}

.navbar-blue{
    background-color: #24334C;
    color: #EFEFCE
}

.navbar-blue a{
    color: #EFEFCE
}

.active{
    background-color: #EFEFCEC;
    color: #24334C
}
