{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/login.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/bootstrap.min.css') }}"/>
    {% endblock %}

    <center>
    <h1>MassEvent</h1>
        <h2>Création de votre compte ;)</h2>
        <br/><br/><br/>
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}

        <br/><br/><br/>
        <a class="accueil" href="{{ path('fos_user_security_login') }}">Retour à l'accueil</a>
    </center>
{% endblock fos_user_content %}
